:root {
	--combine-blue: hsl(189, 98%, 48%);
	--combine-light-blue: hsl(175, 71%, 57%);
	--combine-hover: hsl(194, 98%, 37%);
	--combine-hovertext: hsl(188, 74%, 53%);
	--combine-dark: hsl(192, 81%, 33%);
	--combine-blue-translucent: hsla(194, 96%, 18%, 0.356);
	--combine-blue-darker: hsl(192, 87%, 44%);
}

body {
	margin: 0;
	height: 100svh;
	font-family: "Exo 2", sans-serif;
	background-color: black;
	color: white;
}

#root {
	display: grid;
	height: 100svh;
	grid-template-rows: auto 1fr;
}

header {
	padding: 10px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

header h1 {
	font-size: 4.1rem;
	font-weight: 100;
	margin: 0;
	margin-top: 20px;
	letter-spacing: 25px;
}

footer {
	display: grid;
	justify-content: center;
}

footer p {
	margin: 8px;
}

footer a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.footer-text {
	font-weight: 300;
	letter-spacing: 5px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
}

footer i {
	font-size: 1.5rem;
}

main {
	position: relative;
	display: grid;
	align-content: space-between;
	color: var(--combine-blue);
}

video {
	filter: brightness(80%);
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: fill;
	z-index: -1;
	border-left: 0.7vw solid var(--combine-blue);
	box-sizing: border-box;
}

.bottom-left {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	margin-bottom: 0.7vh;
	margin-left: 1.4vw;
	gap: 10px;
	align-items: end;
	grid-template-columns: auto 1fr;
}

.bottom-left img {
	filter: brightness(140%);
	width: 310px;
	height: auto;
	padding-top: 5px;
}

.bottom-left p {
	margin: 0;
	position: absolute;
	bottom: 0.5vh;
	font-size: 0.8rem;
	font-weight: 600;
}

.game-top {
	border-bottom: 1px solid var(--combine-dark);
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	margin-left: 1.4vw;
	margin-right: 0.5vw;
	/* margin-bottom: 10px; */
}

.top-right {
	color: var(--combine-dark);
	display: grid;
	grid-auto-flow: column;
	align-items: end;
	gap: 5px;
	margin-bottom: 4px;
}

.top-right p {
	font-size: 0.75rem;
	font-weight: 600;
	margin: 0;
	padding-bottom: 2px;
}

.top-right img {
	height: 50px;
	filter: brightness(100%) sepia(100) saturate(13) hue-rotate(120deg);
}

.top-left {
	font-size: 1.7rem;
	display: grid;
	align-items: end;
	margin-bottom: 10px;
	font-weight: 500;
}

.start {
	display: grid;
	justify-content: center;
}

.start h2,
.game-end h2 {
	font-weight: 500;
	
}

button,
input {
	background-color: transparent;
	border: 2px solid var(--combine-blue);
	cursor: pointer;
	color: var(--combine-blue);
	padding: 15px;
	font-size: 1.5em;
	font-weight: 500;
}

button:hover {
	background-color: var(--combine-hover);
	border-color: var(--combine-hover);
	color: var(--combine-hovertext);
}

.game {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.game img {
	height: calc(100vh - 119px - 35px - 55px - 115px);
	margin-left: 1.4vw;
	border-bottom: 1px solid var(--combine-dark);
	padding-bottom: 5px;
}

.select-area {
	height: 5vh;
	width: 5vh;
	border: 1px solid var(--combine-blue);
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	border-radius: 32px;
}

.game-end {
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
}

.submit-name {
	display: grid;
	justify-items: center;
}

input {
	margin-bottom: 25px;
}

input:focus {
	outline: none;
}

.leaderboard h2 {
	border-bottom: 1px solid var(--combine-dark);
	padding: 10px;
}

th,
td {
	padding: 10px;
}

button:focus {
	outline: none;
}

.time {
	font-size: 1.7rem;
	font-weight: 500;
	border-bottom: 1px solid var(--combine-dark);
	text-align: end;
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	align-items: baseline;
}

.timer {
	font-size: 3.5rem;
	color: var(--combine-light-blue);
	padding-left: 10px;
	justify-content: end;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, 70px 20px 70px 20px 70px);
	text-align: start;
}

.split {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	grid-template-columns: auto 1fr;
}

.right {
	display: grid;
	align-content: space-between;
	justify-items: end;
}

.bottom-right {
	padding: 10px;
}

.game-right {
	padding: 10px;
}

.invisible {
	display: none;
}

.not-selectable {
	border: none;
	padding: 17px;
	background-color: var(--combine-blue-translucent);
	cursor: default;
	color: var(--combine-blue-darker);
}

.not-selectable:hover {
	background-color: var(--combine-blue-translucent);
	color: var(--combine-blue-darker);
}